<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$PageTitle} $ActionTitle &bull; Ryan Varick</title>

    <!--  https://www.ryanvarick.com/colophon  -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="$SkinDirUrl/assets/app.css?v1" />
    <!-- <script src="assets/app.js?v1"></script> -->
    <!-- favicon, apple touch icons -->

    <!-- DEVELOPMENT START -->
    <script src="$SkinDirUrl/assets/js/typekit.js"></script>
    <script>try { Typekit.load(); } catch(e) { }</script>
    <script src="$SkinDirUrl/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="$SkinDirUrl/vendor/hashgrid/hashgrid.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var grid = new hashgrid();
        });
    </script>
    <!-- <script src="$SkinDirUrl/vendor/pleasejs/Please.js"></script> -->
    <script src="//localhost:9091"></script>
    <!--// END DEVELOPMENT -->

    <!--HTMLHeader-->
</head>


<body id="start">
    <header>
        <!--wiki:Site.Header-->
    </header>
    <main>
        <!--PageText-->
    </main>
    <footer>
        <!--wiki:Site.Footer-->
    </footer>
</body>
</html>
