<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!--                                         -->
    <!--  https://github.com/ryanvarick/website  -->
    <!--                                         -->

    <title>{$PageTitle} $ActionTitle&bull; ryanvarick.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="$SkinDirUrl/dist/app.css?v1" />
    <!-- favicon, apple touch icons -->

    <!-- Typekit -->
    <script src="https://use.typekit.com/ygu4ods.js"></script>
    <script>try { Typekit.load(); } catch(e) { }</script>

    <!-- DEVELOPMENT START -->
    <script src="//localhost:9091"></script>
    <!--// END DEVELOPMENT -->

    <!--HTMLHeader-->
</head>

<body>
    <header>
        <!-- FIXME: Minimum inline SVG for CSS styling -->
        <a href="pmwiki.php?n=Home.Index">
            <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                <!-- Generator: Sketch 3.2.2 (9983) - http://www.bohemiancoding.com/sketch -->
                <title>Logo v2 – Prod</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <path d="M1.4492928,38 C6.82399195,16.1814156 26.5223099,0 50,0 C77.6142375,0 100,22.3857625 100,50 C100,77.6142375 77.6142375,100 50,100 C48.4556645,100 46.9276819,99.9299853 45.4190531,99.792957 C53.1061692,79.7904877 61.3198891,60.1518096 64,54 C68.3139013,43.3863636 69.8684604,42.3090909 78,41 L78,38 L51,38 L51,41 C60.7802691,42.5484848 61.4977578,43.5060606 59,50 C55.5410299,61.8137489 47.0187964,83.8166179 40.7586575,99.1476912 C40.2293283,99.0487786 39.7029352,98.9415258 39.1796198,98.8260743 C31.4861484,78.4401238 23.2359187,56.605363 20,48 C18.328849,43.1469697 18.8071749,42.3090909 27,41 L27,38 L1.4492928,38 Z M0.723929714,41.4745963 C0.2479778,44.2451434 0,47.0936125 0,50 C0,69.1867092 10.8070402,85.8492989 26.6660462,94.2326947 C20.9012785,78.844195 14.9107547,63.5642155 10,52 C7.40109845,44.3074122 5.624007,42.5060781 0.723929714,41.4745963 Z" id="path-1"></path>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                    <g id="Logo-v2-–-Prod" sketch:type="MSArtboardGroup">
                        <g id="Intersected" sketch:type="MSLayerGroup">
                            <mask id="mask-2" sketch:name="Circle" fill="white">
                                <use xlink:href="#path-1"></use>
                            </mask>
                            <use id="Circle" fill="#373535" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <!--wiki:Site.Header-->
    </header>
    <main>
        <!--PageText-->
    </main>
    <footer>
        <!--wiki:Site.Footer-->
    </footer>

    <script type="text/javascript" src="$SkinDirUrl/vendor/retinajs/dist/retina.min.js"></script>
</body>
</html>
