/**
 Default theme
*/

@topColor: @orange;
@bottomColor: @yellow;

// configuration

img {
    border: 1px solid @topColor;
}
p.caption {
    color: @topColor;
}
div.headline,
div.portfolio-navigation {
    border-top: 1px solid @topColor;
    border-bottom: 1px solid @topColor;
}

section.portfolio a {
    color: @white;
}

code {
    background: @light_grey;

    // taken from Github
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: smaller;
}

h2 {
    .colorBurn();
    // .resizeTo(200%);

    // ANIMATED
    /* autoprefixer: off */ // Requires WebKit only features
    // background-image: -webkit-linear-gradient(270deg, @orange, @yellow);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -webkit-animation: hue 300s infinite linear;
}

.headline h2 {
    line-height: 1.2;
}

.colorBurn() {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* autoprefixer: off */ // Requires WebKit only features
    background-image: -webkit-linear-gradient(270deg, @topColor, @bottomColor);
    color: @topColor; // fallback for non-WK browsers

    // // http://thecodeplayer.com/walkthrough/animating-css3-gradients
    // background-image: linear-gradient(
    //     rgba(red(@orange), green(@orange), blue(@orange), 1.0),
    //     rgba(red(@yellow), green(@yellow), blue(@yellow), 1.0)
    // );
}

footer {
    color: white;
    background-image: linear-gradient(@topColor, @bottomColor);

    a {
        color: inherit;
        text-decoration: none;
    }


    // ANIMATED COLOR
    // -webkit-animation: hue 300s infinite linear;

    // background-image: linear-gradient(
    //     rgba(red(@orange), green(@orange), blue(@orange), 1.0),
    //     rgba(red(@yellow), green(@yellow), blue(@yellow), 1.0)
    // );
    // -webkit-animation: hex 5s infinite alternate;
}

// @-webkit-keyframes hex {
//     // fallback
//     // 50%  { background-color: saturate}
//     100% { background-color: saturate(@blue, 100%) }
// }



// ANIMATED COLOR
// @-webkit-keyframes hue {
//   from {
//     -webkit-filter: hue-rotate(0deg);
//   }
//
//   to {
//     //   -webkit-filter: hue-rotate(-360deg);
//       -webkit-filter: hue-rotate(360deg);
//   }
// }
