/**
 Default theme
*/

@startColor: @orange;
@endColor: @yellow;
@defaultAngle: 0deg;

// header and footer
header,
footer {
    color: @white;
    .fadeBackground(to bottom right);
    // .animateBackground();
}
footer a {
    color: @white;
}

// logo
svg path {

    // screen
    fill: @white;

    @media print {
        fill: @black;
    }
}

// headings
main h2,
div.headline h2 {
    .fadeColor();
}

// images
img {
    border: 1px solid @dark_grey;
}
p.caption {
    color: @dark_grey;
}

// portfolio
ul.portfolio-container li {
    border-color: fade(@startColor, 50%);
}
div.portfolio-navigation {
    .fadeBorder(135deg);
}

/**
 Fade the background from `startColor` to `endColor` at the specified `direction`
*/
.fadeBackground(@direction: @defaultAngle, @color1: @startColor, @color2: @endColor) {
    background-image: linear-gradient(@direction, @color1, @color2);
}

/**
 Fade the border from `startColor` to `endColor` at the specified `direction`
*/
.fadeBorder(@direction: @defaultAngle, @color1: @startColor, @color2: @endColor) {
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-image: linear-gradient(@direction, @color1, @color2) 1 repeat repeat;
}

/**
 Fade the text color from `startColor` to `endColor` at the specified `direction`
*/
.fadeColor(@direction: @defaultAngle, @color1: @startColor, @color2: @endColor) {

    // non-WebKit broswer/print fallback
    color: @color1;

    @media screen {

        /* autoprefixer: off */  // All three effects must be supported
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(@direction, @color1, @color2);
    }
}

/**
 EXPERIMENTAL - Subtly animate background gradients
*/
// .animateBackground() {
//     animation: animate-background 10s ease infinite alternate;
// }
// @keyframes animate-background {
//     from {
//         filter: saturate(none);
//     }
//     to {
//         filter: saturate(3);
//     }
// }
