/**
 Breakpoint definitions
*/

@DESKTOP: ~"all and (min-width: 481px)";
@PORTRAIT: ~"screen and (orientation: portrait) and (max-device-width: 480px)";
@RETINA: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";
