// type
@NORMAL: 300;
@BOLD: 500;

html, body {
    color: @BLACK;
    font-family: myriad-pro, "Avenir Next", sans-serif;
    font-size: 12pt;
}

h1, h2, h3,
header, main, footer {
    font-weight: @NORMAL;
}

header h1 {
    @HEADING_SIZE: 12pt;
    font-size: @HEADING_SIZE;
    text-transform: uppercase;
}

// lobotomized owl
// - @via http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
* + * {
    margin-top: 1em;
}

// exception: list items
li + li {
    margin-top: 0;
}
