// type
@NORMAL: 300;
@BOLD: 500;
@FONT_SIZE: 10pt;

html, body {
    color: @BLACK;
    font-family: myriad-pro, "Avenir Next", sans-serif;
    font-size: @FONT_SIZE;
}

h1, h2, h3,
header, main, footer {
    font-weight: @NORMAL;

    @media @DESKTOP {
        font-size: 1rem;
    }
    @media @PORTRAIT {
        font-size: 1.2rem;
    }
}

header h1 {
    text-transform: uppercase;
}

// lobotomized owl
// - @via http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
* + * {
    margin-top: 1em;
}

// exception: list items
li + li {
    margin-top: 0;
}
