/**
 Breakpoint definitions
*/

@mobile:
    ~"only screen and (max-device-width: 500px)";
    // something like: screen and (portrait + 480) OR (landscape + 640ish)

@desktop:
    ~"(min-width: @{page_width})";

// https://css-tricks.com/snippets/css/retina-display-media-query/
@retina:
    ~"(-webkit-min-device-pixel-ratio: 2)",
    ~"(min-resolution: 192dpi)",
    ~"(min-resolution: 2dppx)";
