/**
 General layout
*/

// TODO: Move this stuff elsewhere?
@gutter: @leading;
@page_width: 800px;

html, body {
    width: 100%;
}

header,
main,
footer section,
footer div.temporary-footer-container {
    padding: 0 @gutter;
}
