/**
 Footer
*/

footer a {
    color: inherit;
    text-decoration: none;
}

// center within container -- I'd like to find a better way to do this
footer section,
footer div.temporary-footer-container {
    // width: @PAGE_WIDTH;
    margin: 0 auto;
}


//
// social
//

footer p {
    margin-top: 0;
}

footer ul {
    float: right;
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    display: inline-block;
}

// icon only for all but twitter
@media @mobile {
    footer li {
        display: inline-block;
    }
    footer li:not(.twitter) span {
        display: none;
    }
}

// gutter
footer li:not(:last-child) {
    margin-right: 1em;
}
