/**
 Header
*/

header {
    margin: 0;
    padding: (@leading * 2) 0 @leading 0;

    svg {
        // TBD
        // .hide();
        height: @leading;
        width: @leading;
        float: left;
    }
}

header h1 {
    .hide();

    // font-family: minion-pro, marion, "Times New Roman", Times, serif;

    a {
        font-weight: 300;
        text-transform: uppercase;
    }
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-right: 1em;
    }

    &.active {
        // border-top: 2px solid @black;
        font-weight: @STRONG_FONT_WEIGHT;
    }
}

header a {
    text-decoration: none;
}

header h2 {
    border-top: 1px solid @orange;
    border-bottom: 1px solid @orange;
}
