/**
 Sticky footer - Ensure that the footer attaches to the bottom of the page or
 the bottom of the browser, whichever is greater

 @via http://mystrd.at/modern-clean-css-sticky-footer/
*/

@FOOTER_HEIGHT: 7em;
html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: @FOOTER_HEIGHT;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: @FOOTER_HEIGHT;
}

// alternative? http://colintoh.com/blog/display-table-anti-hero
