/**
 ryanvarick.com Stylesheet, v16.0.0
  - Raw version: https://www.ryanvarick.com/assets/app.less
  - More information: https://www.ryanvarick.com/colphon
*/

// browser reset
@import "../vendor/normalize.css/normalize.css";

// variables and base typography
@import "variables.less";
@import "typography.less";

// desktop and print (media queries)
@import "desktop.less";
@import "print.less";

@HEADING_SIZE: 12pt;


h2 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .gradient(@ORANGE, @YELLOW);
}

ul {
    margin: 0;
    padding: 0;

    li {
        color: transparent;
        display: inline-block;

        width: 5em;
        height: 5em;
        margin: .25em;
    }
}

.red { background: @RED; }
.orange { background: @ORANGE; }
.yellow { background: @YELLOW; }
.green { background: @GREEN; }
.blue { background: @BLUE; }
.purple { background: @PURPLE; }

.grey1 { background: @GREY1; }
.grey2 { background: @GREY2; }
.grey3 { background: @GREY3; }
.grey4 { background: @GREY4; }
.grey5 { background: @GREY5; }
.grey6 { background: @GREY6; }
.grey7 { background: @GREY7; }
.grey8 { background: @GREY8; }
.grey9 { background: @GREY9; }




.red-purple { .gradient(@RED, @PURPLE); }
.red-blue { .gradient(@RED, @BLUE); }
.red-green { .gradient(@RED, @GREEN); }
.red-yellow { .gradient(@RED, @YELLOW); }
.red-orange { .gradient(@RED, @ORANGE); }

.orange-purple { .gradient(@ORANGE, @PURPLE); }
.orange-blue { .gradient(@ORANGE, @BLUE); }
.orange-green { .gradient(@ORANGE, @GREEN); }
.orange-yellow { .gradient(@ORANGE, @YELLOW); }
.orange-red { .gradient(@ORANGE, @RED); }

.yellow-purple { .gradient(@YELLOW, @PURPLE); }
.yellow-blue { .gradient(@YELLOW, @BLUE); }
.yellow-green { .gradient(@YELLOW, @GREEN); }
.yellow-red { .gradient(@YELLOW, @RED); }
.yellow-orange { .gradient(@YELLOW, @ORANGE); }

.green-purple { .gradient(@GREEN, @PURPLE); }
.green-blue { .gradient(@GREEN, @BLUE); }
.green-red { .gradient(@GREEN, @RED); }
.green-yellow { .gradient(@GREEN, @YELLOW); }
.green-orange { .gradient(@GREEN, @ORANGE); }

.blue-purple { .gradient(@BLUE, @PURPLE); }
.blue-red { .gradient(@BLUE, @RED); }
.blue-green { .gradient(@BLUE, @GREEN); }
.blue-yellow { .gradient(@BLUE, @YELLOW); }
.blue-orange { .gradient(@BLUE, @ORANGE); }

.purple-red { .gradient(@PURPLE, @RED); }
.purple-blue { .gradient(@PURPLE, @BLUE); }
.purple-green { .gradient(@PURPLE, @GREEN); }
.purple-yellow { .gradient(@PURPLE, @YELLOW); }
.purple-orange { .gradient(@PURPLE, @ORANGE); }


.gradient(@color1, @color2) {
    background-image: linear-gradient(
        rgba(red(@color1), green(@color1), blue(@color1), 1.0),
        rgba(red(@color2), green(@color2), blue(@color2), 1.0)
    );
}
