html, body {
    color: @BLACK;
    font-family: myriad-pro, "Avenir Next", sans-serif;
}

h1, h2, h3,
header, main, footer {
    font-weight: @NORMAL;
}

header h1 {
    @HEADING_SIZE: 12pt;
    font-size: @HEADING_SIZE;
    text-transform: uppercase;
}
