/**
 Default theme
*/

// configuration
@NORMAL_FONT_WEIGHT:  300;
@STRONG_FONT_WEIGHT:  500;

body {
    color: @BLACK;
    font-family: myriad-pro, "Avenir Next", sans-serif;

    // TODO: still necessary?
    // text-rendering: optimizeLegibility;
}

// only select elements should be bold
* { font-weight: @NORMAL_FONT_WEIGHT; }
strong { font-weight: @STRONG_FONT_WEIGHT; }

// lists
ul { list-style: circle inside;  }
ol { list-style: decimal inside; }

// links
a { color: @BLACK; }

.headline h2,
.animated {
    color: @ORANGE;

    /* autoprefixer: off */ // Requires WebKit only features
    background-image: -webkit-linear-gradient(0deg, @ORANGE, @YELLOW);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 120s infinite linear;

    // TODO: Use smoothState to keep colors consistent across page loads?
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

footer {
    color: white;
    background-image: linear-gradient(
        rgba(red(@ORANGE), green(@ORANGE), blue(@ORANGE), 1.0),
        rgba(red(@YELLOW), green(@YELLOW), blue(@YELLOW), 1.0)
    );
    // -webkit-animation: hex 5s infinite alternate;
}

// @-webkit-keyframes hex {
//     // fallback
//     // 50%  { background-color: saturate}
//     100% { background-color: saturate(@BLUE, 100%) }
// }
