/**
 Default theme
*/

// configuration
@NORMAL_FONT_WEIGHT:  300;
@STRONG_FONT_WEIGHT:  500;

body {
    color: @black;
    font-family: myriad-pro, "Avenir Next", sans-serif;

    // TODO: still necessary?
    // text-rendering: optimizeLegibility;
}

// only select elements should be bold
* { font-weight: @NORMAL_FONT_WEIGHT; }
strong { font-weight: @STRONG_FONT_WEIGHT; }

// lists
ul { list-style: circle inside;  }
ol { list-style: decimal inside; }

// links
a { color: @black; }

h2 {
    .colorBurn();
    .resizeTo(200%);

    // ANIMATED
    /* autoprefixer: off */ // Requires WebKit only features
    // background-image: -webkit-linear-gradient(270deg, @orange, @yellow);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // -webkit-animation: hue 300s infinite linear;
}

.colorBurn() {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* autoprefixer: off */ // Requires WebKit only features
    background-image: -webkit-linear-gradient(270deg, @orange, @yellow);
    color: @orange; // fallback for non-WK browsers

    // // http://thecodeplayer.com/walkthrough/animating-css3-gradients
    // background-image: linear-gradient(
    //     rgba(red(@orange), green(@orange), blue(@orange), 1.0),
    //     rgba(red(@yellow), green(@yellow), blue(@yellow), 1.0)
    // );
}

footer {
    color: white;
    background-image: linear-gradient(@orange, @yellow);

    // ANIMATED COLOR
    // -webkit-animation: hue 300s infinite linear;

    // background-image: linear-gradient(
    //     rgba(red(@orange), green(@orange), blue(@orange), 1.0),
    //     rgba(red(@yellow), green(@yellow), blue(@yellow), 1.0)
    // );
    // -webkit-animation: hex 5s infinite alternate;
}

// @-webkit-keyframes hex {
//     // fallback
//     // 50%  { background-color: saturate}
//     100% { background-color: saturate(@blue, 100%) }
// }



// ANIMATED COLOR
// @-webkit-keyframes hue {
//   from {
//     -webkit-filter: hue-rotate(0deg);
//   }
//
//   to {
//     //   -webkit-filter: hue-rotate(-360deg);
//       -webkit-filter: hue-rotate(360deg);
//   }
// }
