/**
 Grid system for containers

 For typographic vertical rhythm, check out `baseline_grid.less`.
*/


// @primary_container_width: 30em;
// @secondary_container_width: 18em;
// @primary_container_width: floor((@page_width * 0.618) - (@gutter * 2  ));
// @secondary_container_width: floor((@page_width - @primary_container_width));
@primary_container_width: (@page_width * 0.618);
@secondary_container_width: (@page_width - @primary_container_width);

@media @desktop {

    div.primary {
        display: table-cell;
        width: @primary_container_width;
        padding-right: (@gutter * 2);
    }

    div.secondary
    {
        display: table-cell;
        width: @secondary_container_width;

    //   h2 {
    //         font-size: 100%;
    //   }

    //   li {
    //       list-style: none;
    //   }
    }

    // div.secondary.resume {
    //     h2, h3 {
    //         font-size: 100%;
    //         color: @black;
    //     }
    //
    // }

}
