/**
 Overall page layout
*/

html, body {
    width: 100%;
    margin: 0;
}

// Mobile needs breathing room around the edges, but desktop only needs
// extra space if the window is fairly small (e.g. mobile landscape).
// Using padding ensures the space disappears in the `margin: auto` centering
// of the other containers.
body {
    padding: 0 @gutter;
}

// same breathing room as above, but with edge-to-edge background
header,
footer {
    .full-bleed();
}

// center containers on desktop
@media @desktop {
    header section,
    main,
    footer section,
    div.temporary-container {
        margin: 0 auto;
        width: @page_width;
    }
}

// left/right golden ratio grid
@primary_container_width: @page_width * 0.618;
@secondary_container_width: @page_width - @primary_container_width;

@media @desktop {
    div.primary {
        display: table-cell;
        width: @primary_container_width;
        padding-right: (@gutter * 2);
    }
    div.secondary {
        display: table-cell;
        width: @secondary_container_width;
    }
}

// breathing room for print
@media print {
    body {
        padding: (@leading * 2) (@gutter * 3);
    }
}

// breathing room between the content and the footer
main div#wikitext {
    margin-bottom: (@leading * 3);
}
