/**
 Footer
*/

footer {

    padding-top: @leading;
    padding-bottom: (@leading * 2);

    h3,
    hr {

        // hide accessbility markup
        .hide();
    }
}

footer li {
    list-style: none;
}

footer .links a {

    // add a little extra styling to navigation links
    text-decoration: underline;
}

ul.social {

    // show social links inline, and give all but the first one (Twitter)
    // a little extra horizontal breathing room
    li {
        display: inline-block;

        a {
            display: block;
            padding: 0 (@gutter / 2);
        }
    }
    li:first-child a {
        padding: 0 (@gutter / 2) 0 0;
    }

    @media @mobile {

        // except for Twitter, only show icons
        li:not(:first-child) span {
            display: none;
        }
    }
}
