/**
 Footer
*/

footer {

    // breathing room around the edges
    padding-top: @leading;
    padding-bottom: (@leading * 2);

    // hide accessbility markup
    h3,
    hr {
        .hide();
    }

    // hide when printing
    @media print {
        .hide();
    }
}

footer li {
    list-style: none;
}

// extra styling for navigation links
p.page-info a,
footer .links a {
    text-decoration: underline;
}

ul.social {

    // show social links inline, and give all but the first one (Twitter)
    // a little extra horizontal breathing room
    li {
        display: inline-block;

        a {
            display: block;
            padding: 0 (@gutter / 2);
        }
    }
    li:first-child a {
        padding: 0 (@gutter / 2) 0 0;
    }

    // except for Twitter, only show icons for mobile
    @media @mobile {
        li:not(:first-child) span {
            display: none;
        }
    }
}
