/**
 Portfolio
*/


// general typography
ul.portfolio-container li,
.portfolio-sidebar li {
    list-style: none;
}
.portfolio-sidebar a.selflink {
    text-decoration: none;
}
span.year {
    font-size: smaller;
}

// context-specific navigation
div.portfolio-navigation {
    @media @mobile {
        .hide();
    }
}
h3.recent-work {
    .hide();
}

// container layout
ul.portfolio-container {

    // extra breathing room
    margin-top: (@leading * 3);

    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100px;
        width: 100%;

        @media @desktop {
            width: (@page_width / 3);
        }


        // container for pseudo-element
        position: relative;
        border-color: @light_grey;

        a {
            display: block;
            height: 100%;
            width: 100%;
            padding: 10px;
            text-decoration: none;
        }

        span.summary {
            z-index: 100;
            opacity: 0.0;
        }
    }

    // hover effects
    li:not(:last-child):hover {

        span.summary {
            transition: opacity 250ms ease-in-out;
            opacity: 1.0;
        }

        &::after {
            content: '';
            background: @white;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            opacity: 0.95;
        }
    } // end li:hover
} // end ul.portfolio-container


/**
 Generate portfolio cover styles for desktop, mobile, Retina, and non-Retina

 @param {string} image name (do not include the path, file extension, or @2x)
 @param {length} width of the image
 @param {length} height of the image
*/
.portfolio-image(@image, @width, @height) {
    .retina-png(@image, @width, @height, no-repeat, 50%, 50%);
    // @media @desktop { .retina-png(@image, @width, @height, no-repeat, 50%, 50%); }
    // @media @mobile  { .retina-png(@image, @width, @height, no-repeat,  0%,  0%); }
}

li.p1 { .portfolio-image("portfolio-cover-br",    150px, 25px); }
li.p2 { .portfolio-image("portfolio-cover-wf",    40px,  40px); }
li.p3 { .portfolio-image("portfolio-cover-nokia", 80px,  13px); }
li.p4 { .portfolio-image("portfolio-cover-good",  75px,  25px); }
li.p5 { .portfolio-image("portfolio-cover-moto",  130px, 25px); }
