/**
 Portfolio
*/


// general typography
ul.portfolio-container li,
.portfolio-sidebar li {
    list-style: none;
}
.portfolio-sidebar a.selflink,
ul.portfolio-container a {
    text-decoration: none;
}
span.year {
    font-size: smaller;
}

// context-specific navigation
h3.recent-work {
    .hide();
}
div.portfolio-navigation {
    @media @mobile {
        .hide();
    }
}
div.portfolio-sidebar {
    @media @mobile {
        margin-top: (@leading *  2);
    }
}

// overall container layout
ul.portfolio-container {

    display: flex;
    flex-wrap: wrap;

    // extra breathing room
    @media @desktop {
        margin-top: (@leading * 3);
    }
    @media @mobile {
        margin-top: @leading;
    }
}

// layout for individual cover images
ul.portfolio-container li {

    // container for hover-generated pseudo-elements (see below)
    position: relative;

    height: 100px;
    width: 100%;
    @media @desktop {
        width: (@page_width / 3);
    }

    a {
        // center vertically
        display: flex;
        align-items: center;
        justify-content: center;

        // for z-index
        position: relative;

        height: 100%;
        padding: (@gutter / 2);
        opacity: 0.0;
    }

    // resume link
    &.p6 a {
        opacity: 1.0;
    }
} // end ul.portfolio-container li

// hover effects
ul.portfolio-container li:not(:last-child):hover {

    &::after {
        content: '';
        background: @white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        opacity: 0.95;
    }

    // fade in text overlay
    a {
        opacity: 1.0;
        transition: opacity 250ms ease-in-out;
        z-index: 1;
    }
}

// cover images
li.p1 { .retina-png("portfolio-cover-br",    150px, 25px, no-repeat, 50%, 50%); }
li.p2 { .retina-png("portfolio-cover-wf",    40px,  40px, no-repeat, 50%, 50%); }
li.p3 { .retina-png("portfolio-cover-nokia", 80px,  13px, no-repeat, 50%, 50%); }
li.p4 { .retina-png("portfolio-cover-good",  75px,  25px, no-repeat, 50%, 50%); }
li.p5 { .retina-png("portfolio-cover-moto",  130px, 25px, no-repeat, 50%, 50%); }
