/**
 Resume
*/

p.summary {
    text-transform: uppercase;

    // // FIXME: Need to fix the grid by adjusting line-height
    font-size: smaller; // 85%
    line-height: 1.9;   // *.85 = existing LH

    // FIXME: font stack
    strong {
        .normal-font-weight();
    }

    // control where the summary line breaks on mobile
    @media @mobile {
        span.break {
            display: block;
        }
    } // end @media

}

// spacing between the summary line and details
p.summary + p {
    margin: 0;
}

// no bullets for skills lists, etc.
.resume li {
    list-style: none;
}

// hide portfolio cross-link, email underlines
@media print {

    div.resume > p a,
    div.contact-information a {
        text-decoration: none;
    }
}

// print only: link to portfolio
div.portfolio-link {
    .hide();

    @media print {
        .show();
    }
}

// print only: contact information
div.contact-information {
    .hide();

    @media print {
        .show();

        // fake a `.secondary` container
        position: absolute;
        top: @leading;
        right: 0;
        width: @secondary_container_width + @gutter;

        li {
            list-style: none;
        }

        h2 {
            .hide();
        }
    } // end @media

}
