/**
 Typography
*/

@gutter: @leading;
@normal_font_weight:  300;
@strong_font_weight:  500;

body {
    color: @black;
    font-family: myriad-pro, "Avenir Next", sans-serif;

    // TODO: still necessary?
    // text-rendering: optimizeLegibility;
}

// only select elements should be bold
* { font-weight: @normal_font_weight; }
strong { font-weight: @strong_font_weight; }

// lists
ul { list-style: circle inside;  }
ol { list-style: decimal inside; }

// links
a {
    color: @black;
    text-decoration: underline;
}


/////// GRID

// * + * {
//     margin-top: @leading;
// }
//
// // exception: list items, stacked divs
// li + li,
// div + div {
//     margin-top: 0;
// }
//
// // fix for inline elements, which sometimes break the grid by a pixel
// // - do not try to "fix" nested lists
// p > *,
// li > *:not(ol):not(ul) {
//     line-height: 1.0;
// }

// space before headings
h1, h2, h3, h4, h5, h6 {
    margin-top: @leading;
}

// space after all paragraphs
p + * {
    margin-top: @leading;
}

main h2 {
    font-weight: @strong_font_weight;
}
main h3 {
    font-weight: @strong_font_weight;
}


img + img,              // side-by-side images
div + p.caption         // images (wrapped in a `div`) followed by a caption
{
    margin: (@leading / 2) 0;
}

// footer stuffs
footer * + *:not(li) {
    margin-top: @leading;
}
